<nav class="navbar-horizontal">
    <a class="logo">
        <h1>PHASE 63</h1>
    </a>

    <ul class="nav-link">
        <li><a class="nav-button" href="/home">Home</a></li>
        <li><a class="nav-button" href="/materi">Materi</a></li>
        <li><a class="nav-button" href="/tugas">Tugas</a></li>
        <li><a class="nav-button" href="#">Pertemuan</a></li>
    </ul>
    
    <ul class="nav-profile">
        <li><a class="nav-button" href="#">Nama Peserta</a></li>
        <li><a class="nav-avatar" href="#"><img src="img/ava/C.jpg" class="avatar"/></a></li>
    </ul>
</nav>