<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>WELCOME</title>

        <!-- CSS File -->
        <link rel="stylesheet" href="css/mahasiswa.css">
    </head>

    <body>
        <%- include('partials/navbar') %>
        <header>
            <style>
            header {background-image: url('img/ex1.jpg');}
            </style>
            
            <div class="header-content">
                <h1>PHASE 63</h1>
                <div class="borderline"></div>
                <h2>tagline</h2>
            </div>
        </header>
        
    </body>
</html>