<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Phase 63</title>
	<!-- connection FAVICONS-->
	<link rel="icon" href="img/Logo_2.png">
	<!-- THE BACKGROUND OF THE STATUS-BAR (ON MOBILE)-->
	<meta name="theme-color" content="#000">

	<link rel="stylesheet" href="css/all.css">
	<link rel="stylesheet" href="libs/PageStackNavigation/component.css">
	<link rel="stylesheet" href="libs/DiagonalSlideshow-master/base.css" >
	
</head>
<body>

	<!--svg-->
	<svg class="hidden">
		<symbol id="icon-arrow" viewBox="0 0 24 24">
			<title>arrow</title>
			<polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 " />
		</symbol>
		<symbol id="icon-drop" viewBox="0 0 24 24">
			<title>drop</title>
			<path d="M12,21c-3.6,0-6.6-3-6.6-6.6C5.4,11,10.8,4,11.4,3.2C11.6,3.1,11.8,3,12,3s0.4,0.1,0.6,0.3c0.6,0.8,6.1,7.8,6.1,11.2C18.6,18.1,15.6,21,12,21zM12,4.8c-1.8,2.4-5.2,7.4-5.2,9.6c0,2.9,2.3,5.2,5.2,5.2s5.2-2.3,5.2-5.2C17.2,12.2,13.8,7.3,12,4.8z" />
			<path d="M12,18.2c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7c1.3,0,2.4-1.1,2.4-2.4c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7C15.8,16.5,14.1,18.2,12,18.2z" />
		</symbol>
		<symbol id="icon-longarrow" viewBox="0 0 54 24">
			<title>longarrow</title>
			<path d="M.42 11.158L12.38.256c.333-.27.696-.322 1.09-.155.395.166.593.467.593.903v6.977h38.87c.29 0 .53.093.716.28.187.187.28.426.28.716v5.98c0 .29-.093.53-.28.716a.971.971 0 0 1-.716.28h-38.87v6.977c0 .416-.199.717-.592.903-.395.167-.759.104-1.09-.186L.42 12.62a1.018 1.018 0 0 1 0-1.462z" />
		</symbol>
		<symbol id="icon-navarrow" viewBox="0 0 408 408">
			<title>navarrow</title>
			<polygon fill="#fff" fill-rule="nonzero" points="204 0 168.3 35.7 311.1 178.5 0 178.5 0 229.5 311.1 229.5 168.3 372.3 204 408 408 204"></polygon>
		</symbol>
	</svg>
	<!--svg end-->

	<% if(!loggedIn){ %>
		<!-- PRELOADER -->
		<!-- <div class="preloader-overlay js-preloader">
			<canvas id="canvas"></canvas>
			<div class="counter">
				<h1>0%</h1>
				<hr>
			</div>
		</div> -->
		<!-- PRELOADER END -->
	<% } %>

	<!--STARS BG-->
	<div class="animation-wrapper">
		<div class="particle particle-1"></div>
		<div class="particle particle-2"></div>
		<div class="particle particle-3"></div>
		<div class="particle particle-4"></div>
	</div>
	<!--STARS BG END-->

	<!-- NAVIGATION -->
	<nav class="pages-nav">
		<div class="pages-nav__page-links">
			<div class="pages-nav__item"><a class="link link--page" href="#page-home">Home</a></div>
			<div class="pages-nav__item"><a class="link link--page" href="#page-about">About Us</a></div>
			<div class="pages-nav__item"><a class="link link--page" href="#page-login">Login</a></div>
		</div>
	</nav>
	<!-- NAVIGATION END-->

	<!-- PAGES STACK -->
	<div class="pages-stack">
		<!-- HOME-->
		<div class="page" id="page-home">
			<div class="container">
				<h2 class="h2">Welcome to</h2>
				<h2 class="h3">Phase 63</h2>
				<h2 class="h3">HIFI FMIPA Unpad</h2>
		</div>
		</div>
		<!--HOME END-->
		<!-- ABOUT-->
		<div class="page" id="page-about">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-4 col-xl-6">
						<div class="slideshow-container">

							<div class="mySlides fades">
							  <div class="numbertext"></div>
							  <img src="img/logo_all.png" width="550" height="550">
							  <div class="text"></div>
							</div>
						  
							<div class="mySlides fades">
							  <div class="numbertext"></div>
							  <img src="img/Logo_2.png" width="550" height="550">
							  <div class="text"></div>
							</div>
						  
							<div class="mySlides fades">
							  <div class="numbertext"></div>
							  <img src="img/Logo_3.png" width="550" height="550">
							  <div class="text"></div>
							</div>
						  
							<!-- Next and previous buttons -->
							<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
							<a class="next" onclick="plusSlides(1)">&#10095;</a>
						  </div>
						  <br>

						  <div style="text-align:center;">
							<span class="dot" onclick="currentSlide(1)"></span> 
							<span class="dot" onclick="currentSlide(2)"></span> 
							<span class="dot" onclick="currentSlide(3)"></span> 
						  </div>
					</div>

					<div class="col-lg-8 col-xl-6">
						<div class="page-about__content">
							<div class="row mb-2">
								<div class="col-lg-4">
									<h6 class="h6" style="font-weight: bold; font-size: 22px;">Makna</h6>
								</div>
								<div class="col-lg-8">
										<p class="meaning">WARNA HIJAU yang bergradasi melambangi pertumbuhan yang akan dialami oleh peserta pada phase 63<br><br>UKURAN DAUN dari yang kecil hingga besar menandakan ketiga angkatan yang terlibat dalam phase 63<br><br>3 BUAH CABANG	 melambangkan tri dharma perguruan tinggi</p>
										<p class="meaning">PHI yang merupakan simbol fisika sebagai simbol dari fase menandakan bahwa phase dilaksanakan oleh mahasiswa fisika UNPAD</p>
										<p class="meaning">DAUN melambangkan kenyamanan dan kebersamaan antara peserta phase 63</p>
								</div>
							</div>
					</div>
				</div>
				</div>
			</div>
		</div>
		<!--ABOUT END-->
		<!--LOGIN-->
		<div class="page" id="page-login">
			<div class="login">
				<h2 class="h2" style="margin: auto;"><img src="img/Logo_2.png" width="200" height="200" id="login-logo"></h2>
				<form class="login-form" id="login-form" action="/login" method="POST">
    				<input type="text" name="username" placeholder="Username"><br>
    				<input type="password" name="password" placeholder="Password" autocomplete="off"><br>
    				<button type="submit" class="link link--page" id="login-button">Login</button>
				</form>
			</div>
		</div>
		<!--LOGIN END-->
	</div>
	<!-- PAGES STACK END-->

	<!--MENU BUTTON-->
	<button class="menu-button"><span>Menu</span></button>
	<!--MENU BUTTON END-->

	<!--SCRIPTS-->
	<script src="libs/jquery/jquery.min.js"></script>
	<script src="libs/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="libs/slick/slick.min.js"></script>
	<script src="libs/slick-lightbox/slick-lightbox.min.js"></script>
	<script src="libs/PageStackNavigation/modernizr-custom.js"></script>
	<script src="libs/PageStackNavigation/classie.js"></script>
	<script src="libs/PageStackNavigation/main.js"></script>
	<script src="libs/DiagonalSlideshow-master/imagesloaded.pkgd.min.js"></script>
	<script src="libs/DiagonalSlideshow-master/charming.min.js"></script>
	<script src="libs/DiagonalSlideshow-master/TweenMax.min.js"></script>
	<script src="libs/DiagonalSlideshow-master/demo.js"></script>

	<script src="js/common.js"></script>
	<script src="js/carousel.js"></script>

<%- include('partials/footer') %>
