<link rel="stylesheet" href="css/login-styles.css">
<h1>Login</h1>
<p style="color: red"><%= message %></p>
<form action="/login" method="POST">
    <label>Username : </label>
    <input type="text" class="input-box" name="username">
    <label>Password : </label>
    <input type="password" class="input-box" name="password">
    <button type="submit">Login</button>
</form>