<%- include('partials/header') %>

<h1>Profil Maba</h1>
<form action="/profile" method="POST">
    <label for="">Nama: </label>
    <input type="text" name="nama" id=""><br>
    <label for="">NPM: </label>
    <input type="text" name="npm" id=""><br>
    <label for="">Kelompok: </label>
    <select name="kelompok" id="">
        <option value="">--Pilih Kelompok--</option>
        <option value="Fritz Daniel">Fritz Daniel</option>
        <option value="Wulan Nurul Ashary">Wulan Nurul Ashary</option>
        <option value="Marsella Angelina">Marsella Angelina</option>
        <option value="Zulfa Dara Nalurita">Zulfa Dara Nalurita</option>
        <option value="Arif Darma Leksono">Arif Darma Leksono</option>
        <option value="Dilla Dwi Yuliani">Dilla Dwi Yuliani</option>
        <option value="Ilham Muhamad Bachtiar">Ilham Muhamad Bachtiar</option>
        <option value="Muhammad Hafidz Arrasyid">Muhammad Hafidz Arrasyid</option>
    </select>
    <br>
    <input type="hidden" name="ttl" value="--TTL---">
    <input type="hidden" name="wa" value="--WA--">
    <input type="hidden" name="ig" value="--IG--">
    <input type="hidden" name="alamat" value="--ALAMAT--">
    <input type="hidden" name="desc" value="--BIO--">
    <button type="submit">Register</button>
</form>

<%- include('partials/header') %>