<%- include('partials/header') %>

<h1>Profil Maba</h1>
<form action="/profile" method="POST">
    <label for="">Nama: </label>
    <input type="text" name="nama" id=""><br>
    <label for="">NPM: </label>
    <input type="text" name="npm" id=""><br>
    <label for="">Kelompok: </label>
    <select name="kelompok" id="">
        <option value="">--Pilih Kelompok--</option>
        <option value="1">Fritz Daniel</option>
        <option value="2">Wulan Nurul Ashary</option>
        <option value="3">Marsella Angelina</option>
        <option value="4">Zulfa Dara Nalurita</option>
        <option value="5">Arif Darma Leksono</option>
        <option value="6">Dilla Dwi Yuliani</option>
        <option value="7">Ilham Muhamad Bachtiar</option>
        <option value="8">Muhammad Hafidz Arrasyid</option>
    </select>
    <br>
    <button type="submit">Register</button>
</form>

<%- include('partials/header') %>