<%- include('partials/header') %>

<h1>Register Panitia</h1>
<form action="/registerPanit/reg" method="POST">
    <label for="">Username: </label>
    <input type="text" name="username" id=""><br>
    <label for="">Password</label>
    <input type="text" name="password" id=""><br>
    <label for="">NPM: </label>
    <input type="text" name="npm" id=""><br>
    <label for="">Angkatan: </label>
    <input type="text" name="angkatan" id=""><br>
    <label for="">Role: </label>
    <select name="role" id="">
        <option value="">--Pilih Kelompok--</option>
        <option value="Pengembangan">Pengembangan</option>
        <option value="Fritz Daniel">Assessor Kelompok 1</option>
        <option value="Wulan Nurul Ashary">Assessor Kelompok 2</option>
        <option value="Marsella Angelina">Assessor Kelompok 3</option>
        <option value="Zulfa Dara Nalurita">Assessor Kelompok 4</option>
        <option value="Arif Darma Leksono">Assessor Kelompok 5</option>
        <option value="Dilla Dwi Yuliani">Assessor Kelompok 6</option>
        <option value="Ilham Muhamad Bachtiar">Assessor Kelompok 7</option>
        <option value="Muhammad Hafidz Arrasyid">Assessor Kelompok 8</option>
        <option value="Admin">Admin Web Phase</option>
    </select>
    <button type="submit">Register</button>
</form>

<%- include('partials/header') %>