<%- include('partials/header') %>

<h1>Register</h1>
<p style="color: red;"><%= message %></p>
<form action="/register" method="POST">
    <label>Username</label>
    <input type="text" name="username">
    <label>Password</label>
    <input type="password" name="password">
    <button type="submit">Register</button>
</form>

<%- include('partials/footer') %>