<%- include('partials/header') %>

<h1>Masukkan token untuk register panitia</h1>
<form action="/registerPanit" method="POST">
    <label> Token: </label>
    <input type="text" name="token" id="">
    <button type="submit">Cek</button>
</form>

<%- include('partials/header') %>