<%- include('partials/header') %>

<h1>Upload File Tugas</h1>
<form action="/mabaUpload" method="POST" enctype="multipart/form-data">
    <label>Klik untuk upload file</label>
    <input type="file" name="file" for="file"><br>
    <input type="submit" value="Upload File">
</form>

<%- include('partials/footer') %>