<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Phase 63</title>
	<!-- connection FAVICONS-->
	<!-- <link rel="icon" href="img/favicon/favicon.png"> -->
	<!-- THE BACKGROUND OF THE STATUS-BAR (ON MOBILE)-->
	<meta name="theme-color" content="#000">

	<link rel="stylesheet" href="css/all.css">
	<link rel="stylesheet" href="libs/PageStackNavigation/component.css">
	<link rel="stylesheet" href="libs/DiagonalSlideshow-master/base.css" >
</head>
<body>
    
</body>