<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Phase 63</title>
    <!-- connection FAVICONS-->
    <link rel="icon" href="img/Logo_2.png">
    <!-- THE BACKGROUND OF THE STATUS-BAR (ON MOBILE)-->
    <meta name="theme-color" content="#000">


    <!-- CSS File -->
    <link rel="stylesheet" href="/public/css/mahasiswa.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css"
        integrity="sha512-y6ZMKFUQrn+UUEVoqYe8ApScqbjuhjqzTuwUMEGMDuhS2niI8KA3vhH2LenreqJXQS+iIXVTRL2iaNfJbDNA1Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <%- include('../partials/navbar') %>
<div class="animation-wrapper">
  
</div>
    <script src="/public/js/hamburger.js"></script>

    <section class="text-gray-400 bg-gray-900 body-font"
        style="background-image: url(/public/img/bgphase1abs.svg); background-size: cover;">
        <div class="container mx-auto flex px-5 py-32 items-center justify-center flex-col">
            <div class="text-center lg:w-2/3 w-full">
                <h1 class="title-font sm:text-5xl text-3xl mb-4 font-medium text-white" style="font-family: Retroica;" unselectable="on">
                    BADAN KELENGKAPAN</h1>
            </div>
        </div>
    </section>

    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-20">
          <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Video Pematerian Musang</h1>
            <div class="h-1 bg-indigo-500 rounded" style="width: 63%;"></div>
          </div>
        </div>
        <div class="-m-4">
          <div class="p-4" style="width: 50%; margin: auto;">
            <div class="bg-gray-100 p-6 rounded-lg">
              <iframe class="h-80 rounded w-full object-center mb-6" src="https://www.youtube.com/embed/dJCsw_bnvCI"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-20">
          <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Video Pematerian Dewan</h1>
            <div class="h-1 bg-indigo-500 rounded" style="width: 60%;"></div>
          </div>
        </div>
        <div class="-m-4">
          <div class="p-4" style="width: 50%; margin: auto;">
            <div class="bg-gray-100 p-6 rounded-lg">
              <iframe class="h-80 rounded w-full object-center mb-6" src="https://www.youtube.com/embed/hlWO0wGvMMc"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-20">
          <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Video Pematerian BP</h1>
            <div class="h-1 bg-indigo-500 rounded" style="width: 50%;"></div>
          </div>
        </div>
        <div class="-m-4">
          <div class="p-4" style="width: 50%; margin: auto;">
            <div class="bg-gray-100 p-6 rounded-lg">
              <iframe class="h-80 rounded w-full object-center mb-6" src="https://www.youtube.com/embed/21dMUO2TQ9Y"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    
</body>

</html>